.blog-article h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.blog-article p {
  margin-bottom: 0.7rem;
  line-height: 1.9rem;
}

.blog-article a {
  color: rgb(0, 99, 156);
  text-decoration: underline;
}

.blog-article h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.blog-article img {
  margin: 1rem auto;
  width: 95%;
}
