.blog-article h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
  border-left: 5px solid var(--sub-text);
  background: var(--sub-background);
  padding: 0.5rem 1.2rem;
}
.blog-article p {
  margin-bottom: 1.2rem;
  line-height: 1.9rem;
  padding-left: 0.5rem;
}

.blog-article a {
  color: var(--a-color);
  text-decoration: underline;
}

.blog-article h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.blog-article img {
  margin: 1rem auto;
  width: 95%;
}

.blog-article blockquote {
  background: var(--sub-background);
  padding: 1rem;
  width: 85%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-left: 5px var(--sub-text) solid;
}
blockquote a {
  display: inline-block;
  width: 100%;
  text-align: right;
}
