.blog-article h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.blog-article p {
  margin-bottom: 2rem;
  line-height:1.85rem;
}
.blog-article a {
  color:rgb(0, 99, 156);
  text-decoration: underline;
}
