:root {
  --base-background: #fff;
  --sub-background: #eee;
  --base-text: #222;
  --sub-text: #444;

  --a-color: rgb(0, 99, 156);

  --dim-border: #ddd;
}
@media (prefers-color-scheme: dark) {
  :root {
    --base-background: #223;
    --sub-background: #445;
    --base-text: #eee;
    --sub-text: #ccc;

    --a-color: rgb(70, 158, 209);

    --dim-border: #666;
  }
}

:root {
  background: var(--base-background);
  color: var(--base-text);
}

main {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  border-top: solid var(--dim-border) 1px;
  box-sizing: content-box;
  color: var(--sub-text);
  text-align: center;
  height: 120px;
  position: absolute;
  bottom: 0;
  line-height: 120px;
}
